<section class="current-tenants">
	<div class="current-tenants-management">
		<h2 class="beta properties-filter-title">Current Tenants (<%= @tenants.count %>)</h2>
	</div>
	
<% @tenants.each do |tenant| unless @tenants.blank? %>
	<article class="property">
		<div class="property-details">
		<div class="property-info">
			<h3 class="tenant-name"><%= link_to full_name(tenant), property_tenant_path(tenant.property, tenant) %></h3>
				<div class="property-address-current">
					<%= property_address(tenant) %>
				</div>
		</div>

		<div class="rent-info">
		<% if tenant.rent_frequency == "weekly" %>
			<span class="rent-due">Rent due in:</span>
			<span class="<%= rent_due_class_weekly(tenant) %>"><%= pluralize(tenant.rent_due_in_weekly, "day") %></span>
		<% end %>			
		<% if tenant.rent_frequency == "fortnightly" %>
			<span class="rent-due">Rent due in:</span>
			<span class="<%= rent_due_class_fortnightly(tenant) %>"><%= pluralize(tenant.rent_due_in_fortnightly, "day") %></span>
		<% end %>
		<% if tenant.rent_frequency == "monthly" %>
			<span class="rent-due">Rent due in:</span>
			<span class="<%= rent_due_class_monthly(tenant) %>"><%= pluralize(tenant.rent_due_in_monthly, "day") %></span>
		<% end %>
		</div>
		
		</div>
	</article>

<% end %>
<% end %>

<% if current_user.properties.empty? %>
	<p class="property-empty">Your tenant needs a property to live in. <%= link_to new_property_path(@property), :class => "button new-property" do %>
	<span class="icon add-new"></span><%= "Add property" %>
    
	<% end %>
	</p>
<% end %>

<% if current_user.properties.present? && @tenants.empty? %>
	<p class="property-empty">You haven't added any tenants yet. <%= link_to vacant_properties_path(@property), :class => "button new-property" do %>
	<span class="icon add-new"></span><%= "Add tenant" %>
	<% end %>
	</p>
<% end %>

</section>