<div class="session">
<h2>Create a Lodger account</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
	<fieldset>
		<%= f.label :email, "Email:" %>
		<%= f.email_field :email, :autofocus => true %>
	</fieldset>

	<fieldset>
		<%= f.label :password, "Password:" %>
		<%= f.password_field :password %>
	</fieldset>

	<fieldset>
		<%= f.label :password_confirmation, "Password confirmation:" %>
		<%= f.password_field :password_confirmation %>
	</fieldset>

	<%= f.submit "Create Account", :class => "button" %>
<% end %>
</div>