<div class="two-thirds main-content">
	<div class="properties-management">
		<h2 class="beta properties-filter-title">Properties:</h2>
			<ul class="menu properties-filter">
				<li class="active">
					<%= link_to properties_path(@property), :class => "filter" do %>
					Occupied<span class="property-amount"> (<%= @properties.occupied.count %>)</span>
					<% end %>
				</li>
				<li>
					Vacant
				</li>
			</ul>
	<% unless @properties.empty? %>
		<%=link_to new_property_path(@property), :class => "button new-property" do %>
		<span class="icon add-new"></span><%= "New property" %>
		<% end %>
	<% end %>
	</div>

	<section class="properties list">
	<% @properties.each do |property| %>
		<article class="property">
			<div class="property-details">
				<div class="property-info">
					<h3 class="gamma property-address"><%= link_to truncate(full_address(property), :length => 45), property_path(property) %></h3>
						<div class="menu tenants">
							<%= list_tenant_by_name(property) %>
						</div>
				</div>

			<div class="rent-info">
			<% unless property.tenants.empty? %>
				<span class="rent-due">Rent due in:</span>
				<span class="rent due-soon"><%= pluralize(tenant_rent_min(property), "day") %></span>
			<% end %>
			</div>
      		</div>
		</article>
	</section>
	<% end %>

	<% if @properties.empty? %>
	<p class="property-empty">You don't have any properties yet. <%= link_to new_property_path(@property), :class => "button new-property" do %>
	<span class="icon add-new"></span><%= "Add one now" %>
	<% end %></p>
	<% end %>
</div>