<div class="session">
<h2>Add a new property</h2>

<%= form_for @property, :html => {:multipart => true} do |f| %>
<%= render "shared/property_error_message", :target => @property %>
<fieldset>
	<%= f.text_field :house_number, :placeholder => "Number" %>
</fieldset>
<fieldset>
	<%= f.text_field :street_address, :placeholder => "Street 1" %>
</fieldset>
<fieldset>
	<%= f.text_field :street_address_two, :placeholder => "Street 2" %>
</fieldset>
<fieldset>
	<%= f.text_field :city, :placeholder => "City" %>
</fieldset>
<fieldset>
	<%= f.text_field :postcode, :placeholder => "Postcode" %>
</fieldset>
	<%= f.button :class => "button-wrap button" do %>
		<span class="icon add-new"></span><%= "Add property" %>
	<% end %>
<% end %>
</div>