<div class="session">
<h2>Login to your Lodger account</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<fieldset>
		<%= f.label :email, "Email:" %>
		<%= f.email_field :email, :autofocus => true %>
	</fieldset>

	<fieldset>
		<%= f.label :password, "Password:" %>
		<%= link_to "Forgot it?", new_password_path(resource_name), :class => "forgotten-password" %>
		<%= f.password_field :password %>
	</fieldset>

	<fieldset class="check-box">
		<% if devise_mapping.rememberable? -%>
		<%= f.check_box :remember_me %> <%= f.label :remember_me %>
		<% end -%>
	</fieldset>

	<%= f.submit "Login", :class => "button" %>
<% end %>

<p class="footer-text">Lodger is free to use for customers of <%= link_to image_tag("footer-logo.png", :alt => "Brokers Direct"), "http://brokersdirect.co.uk" %></p>
</div>